@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 248, 240;
  --background-end-rgb: 255, 235, 230;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text-[#EE7F01] {
    color: #EE7F01;
}
.bg-[#EE7F01] {
    background-color: #EE7F01;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.section{
background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


html {
  scroll-behavior: smooth;
}

